body {
	//backgrounds
	background: #003973;
	background: -webkit-linear-gradient(to left, #003973 , #E5E5BE);
	background: linear-gradient(to left, #003973 , #E5E5BE);

}

.navbar {
	border-radius: 0;
}
